{% extends "base.html" %}

{% block title %}Welcome to the webpage{% endblock %}

{% load static %}

{% block content %}
<br>
<div class="major container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <a href="{% url 'application_one' %}"> <!-- Link wrapper started here -->
          <img src="{% static 'img/fund.png' %}" alt="Fund Image" class="rounded-circle" width="150" height="140">
        </a> <!-- Link wrapper ends here -->
        <h2>By Fund</h2>
        <p>Look at the evolution of holdings and change in positions of a fund over time</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <a href="{% url 'application_two' %}">
          <img src="{% static 'img/security.png' %}" alt="Security Image" class="rounded-circle" width="140" height="140">
        </a>
        <h2>By Security</h2>
        <p>Look at the top holders of a security over time and the notional bought/sold</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <a href="{% url 'application_three' %}">
          <img src="{% static 'img/topholdings.png' %}" alt="Holdings Image" class="rounded-circle" width="140" height="140">
        </a>
        <h2>By Top Holdings</h2>
        <p>Look at the aggregate top holdings of all funds and the most owned securities over time</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-2 text-center">
        <a href="{% url 'application_four' %}">
          <img src="{% static 'img/mostbought.png' %}" alt="Bought Image" class="rounded-circle" width="160" height="160">
        </a>
        <h2>By Most Bought/Sold</h2>
        <p>Look at the most bought and sold securities in a given period</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <a href="{% url 'application_five' %}">
          <img src="{% static 'img/capital.png' %}" alt="Capital Image" class="rounded-circle" width="180" height="160">
        </a>
        <h2>By Capital Deployed</h2>
        <p>Select fund managers by capital deployed and generate their aggregate exposure to certain securities</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
{% endblock %}